/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	margin: auto;
	max-width: 1440px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

.headerModified{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 59px;
	max-width: 1440px;
	background-color: black;
	color: white;
}

header {
	margin: 50px 150px;
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	background-color: #FFFEF8;
}

main{
	margin: 0px 150px;
	max-width: 1140px;
}
section {
	margin: 50px 0;
	background-color: #FFFEF8;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
/* Modif : style du lien vers la page de login */
nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #B1663C;
}

/*---------------------------------------------*/

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	position: relative;
	text-align: center;
	width: 194px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 30px;
}

.modal1Button{
	right: -100px;
	top : 7px;
	position: absolute;
	display: inline-flex;
	background-color: white;
	border: none;
	gap: 10px;
	cursor: pointer;	
}

/* Modif : Ajout des sélecteurs pour les boutons du menu filtre */


.filters {
	width: 100%;
	display: flex;
	justify-content: center;
	gap : 10px;
	margin-bottom: 51px;
}

.filters input{
	opacity: 0;
	position: absolute;
}

.filters input:checked + div{
	color: white ;
	background-color: #1D6154;
}


.filters div{
	min-width: 98px;
	padding: 13px 14px ;
	border-radius: 60px;
	border: solid 1px #1D6154;
	color: #1D6154;
	font-family: syne;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color 200ms, background-color 200ms;
}

.filters div:hover{
	color: white ;
	background-color: #1D6154;
}

/*-----------------------------------------------------*/

/* Modif : Ajout du style pour la modale */

.modal_1 , .modal_2 {

	position: fixed;
	top: 0;
	left:0 ;
	background-color: rgba(0, 0, 0, 0.30);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;

}

.containerModal {
	background-color: white;
	width: 630px;
	min-height: 688px ;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.closeModal{
	position: absolute;
	right: 35px;
	top: 30px;
	padding: 0;
	font-size: 18px;
	background-color: white;
	border: none;
	cursor: pointer;
}

.closeModal2 {
	position: absolute;
	left: 35px;
	top: 30px;
	padding: 0;
	font-size: 20px;
	background-color: white;
	border: none;
	cursor: pointer;
}

.modalTitle {
	font-family: work sans;
	font-size: 28px;
	margin-top: 64px;
	margin-bottom: 50px;
}

.images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px 9px;
	min-height: 430px;
	width: 420px;
	align-content: flex-start;
	border-bottom: solid 1px #B3B3B3 ;
}

.images figure{
	position: relative;
	width: 76.5px;
	height: 102.57px;
}

.images img{
	width: 100%;
	height: 100%;
}

.images span{
	position: absolute;
	top: 6px;
	right: 5px;
	display: block;
	background-color: black;
	height: 17px;
	width: 17px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.images i {
	font-size: 10px;
	color: white;
}

.modal2Button , #valider {
	height: 38px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 38px auto ;
	width: 237px;
	text-align: center;
	border-radius: 60px ;
}

.toAddWork:hover{
	background-color: #0E2F28;
}


.modal_2 form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 540px;
	width: 420px;
	
}

.modal_2 form > div{
	text-align: left;
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px #B3B3B3;
}

.modal_2 input, .modal_2 select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modal_2 select{
	font-size: 14px;
	font-family: work sans;
	padding-left: 10px;
	color: #444444 ;
}

.modal_2 label {
	margin: 2em 0 1em 0;
}

.file-label{
	width: 420px;
	height: 169px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 3px;
}

.file-label img {
	height: 169px ;
	width: 129px ;
}

.defaultDisplay{
	width: 420px;
	height: 169px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6;
	border-radius: 3px;
}

.defaultDisplay i{
	color: #CBD6DC;
	font-size: 70px;
	margin-bottom: 11px;
	margin-top: 21px ;
}

.defaultDisplay div{
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background-color: #CBD6DC ;
	color: #306685 ;
	margin-bottom: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: work sans;
	font-size: 14px;
	font-weight: 600;
}

.defaultDisplay p {
	font-family: work sans;
	margin-bottom: 20px;
	font-size: 10;
	color: #444444;
}


/*---------------------------------------*/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover{
	background-color: #0E2F28;
}
	

footer{
	max-width: 1440px;
	background-color: white;
	height: 60px;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

footer nav ul {
	margin: 2em
}

